.complex-table-view{
  width: 100%;
  overflow: auto;
  .complex-table-view-pagination-slot-total{
    margin-right: 16px;
    .complex-table-view-pagination-slot-total-item{
      &:first-child{
        margin-right: 8px;
      }
    }
  }

  .complex-table-view-pagination-slot-choice{
    margin-right: 16px;
    .complex-table-view-pagination-slot-choice-item-menu{
      &.complex-table-view-pagination-slot-choice-item-empty{
        display: none;
      }
      margin-left: 8px;
      cursor: pointer;
    }
  }
}

.complex-form-view{
  &.complex-form-view-inline{
    .complex-form-view-item-content{
      width: 100px;
    }
  }
  &.complex-form-view-horizontal{
    .complex-form-view-item-content{
      width: 100%;
    }
  }
  &.complex-form-view-vertical{
    .complex-form-view-item-content{
      width: 100%;
    }
  }
  .complex-form-view-foot-multiple-menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .complex-form-view-foot-multiple-menu-item{
    flex: none;
    margin-left: 8px;
    margin-right: 8px;
  }
}
.complex-form-view-item-content-select-pagination{
  border-top: 1px #ccc solid;
  display: flex;
  justify-content: flex-end;
  padding: 4px 12px;
  align-items: center;
}

