.complex-import .complex-import-file{
  display: none !important;
}
.complex-button-file{
  display: none !important;
}
.complex-import .complex-import-content{
  line-height: 22px;
}
.complex-import .complex-import-content .complex-import-content-delete{
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

.complex-table .complex-table-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.complex-simple-table .complex-simple-table-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.complex-pagination{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.complex-pagination .complex-pagination-info{
  margin-right: 10px;
}
.complex-form-inline .ant-form-item.ant-form-item-with-help{
  margin-bottom: 0;
}
.complex-form-inline .ant-form-item:not(.ant-form-item-with-help){
  margin-bottom: 24px;
}
.complex-form-horizontal .complex-form-item .complex-form-item-input-number{
  width: 100%;
}
.complex-form-horizontal .complex-form-item .complex-form-item-date{
  width: 100%;
}
.complex-form-horizontal .complex-form-item .complex-form-item-date-range{
  width: 100%;
}
.complex-list{
  padding: 0 16px;
}
.complex-list .complex-search{
  padding-top: 24px;
}
.complex-list-table-menu .complex-list-table-menu-item{
  margin-right: 8px;
  cursor: pointer;
}
.complex-list-table-menu .complex-list-table-menu-item:last-child{
  margin-right: 0px;
}
