.complex-import .complex-import-file{
  display: none !important;
}
.complex-menu-file{
  display: none !important;
}
.complex-import .complex-import-content{
  line-height: 22px;
}
.complex-import .complex-import-content .complex-import-content-delete{
  display: inline-block;
  margin-left: 8px;
  cursor: pointer;
}

.complex-table .complex-table-content {
  width: 100%;
  overflow: auto;
}
.complex-table .complex-table-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
.complex-pagination{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.complex-pagination .complex-pagination-info{
  margin-right: 10px;
}
.complex-edit-inline .ant-form-item.ant-form-item-with-help{
  margin-bottom: 0;
}
.complex-edit-inline .ant-form-item:not(.ant-form-item-with-help){
  margin-bottom: 24px;
}
.complex-edit-grid .complex-edit-item.complex-edit-item-input-number{
  width: 100%;
}
.complex-edit-grid .complex-edit-item.complex-edit-item-date{
  width: 100%;
}
.complex-edit-grid .complex-edit-item.complex-edit-item-date-range{
  width: 100%;
}
.complex-edit .complex-edit-item .ant-input-number {
  width: 100%;
}
.complex-edit .complex-auto-item-info,.complex-info .complex-auto-item-info {
  margin-bottom: 24px;
}
.complex-edit-inline .complex-auto-item-info,.complex-info-inline .complex-auto-item-info {
  margin-inline-end: 16px;
}

.complex-auto-item-label{
  position: relative;
  display: inline-flex;
}
.complex-auto-item-left-label{
  text-align: left;
}
.complex-auto-item-center-label{
  text-align: center;
}
.complex-auto-item-right-label{
  text-align: right;
}
.complex-auto-item-colon-label::after{
  display: inline-block;
  content: ":";
  position: relative;
  margin-block: 0;
  margin-inline-start: 2px;
  margin-inline-end: 8px;
}
.complex-auto-item.ant-form-item > .ant-row > .ant-col-0{
  display: none;
}

.complex-quick-list{
  padding: 0 16px;
}
.complex-quick-list .complex-search-area{
  padding-top: 24px;
}
.complex-table-menu .complex-table-menu-item{
  margin-right: 8px;
  cursor: pointer;
}
.complex-table-menu .complex-table-menu-item:last-child{
  margin-right: 0px;
}

.complex-color-link{
  cursor: pointer;
}

.complex-like-form-item{
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  min-height: 32px;
  border: 1px #d9d9d9 solid;
  border-radius: 6px;
  padding: 0px 11px;
}
